<h2>Add new food item</h2>
<% if @food %>
  <%= form_with model: @food do |f| %>
    <div class="mb-3">
      <label for="form_food_name" class="form-label">Name</label>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="mb-3">
      <label for="form_food_measurement_unit" class="form-label">Measurement unit</label>
      <%= f.select :measurement_unit, ['grams', 'kilograms'], :required => true  %>
    </div>
    <div class="mb-3">
      <label for="form_food_price" class="form-label">Price</label>
      <%= f.number_field :price, :required => true %>
    </div>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
<% end %>
